<html>
  <head>
    <title>RFDATA UI</title>
    <link href="https://storage-web.nsnw.ca/rfdata-prod/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1>RFDATA <span class="chat-name">UI</span></h1>
    <a href="/">Main</a> • <a href="/chats">Chats</a> • <a href="/mailboxes">Mailboxes</a> • <a href="/commands">Command log</a>
    <hr>
    {% block content %}
    {% endblock %}
    <hr>
    <p>
    For more information, see <a href="https://aprs.rfdata.org/">https://aprs.rfdata.org/</a>.
  </body>
</html>
